:root {
  --vang: rgb(254,197,0);
  --xam: rgb(244,245,249);
  --den: rgb(35,35,35);
  --den0: rgb(9,13,5);
  --den1: rgb(25,25,25);
  --trang: rgb(255,255,255);
  --color-text: #4d4d4d;
  --font: Poppins, sans-serif;
  --container-fluid: 192rem;
  --container: 117rem;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font);
  font-weight: 300;
  color: var(--color-text);
  background-color: var(--trang);
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
}
button, a {
  outline: 0;  
  outline-style: none;  
  outline-width: 0; 
}
.container-fuild{
  max-width: var(--container-fluid);
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: var(--container);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
ul, li{
	list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
}

/*HEADER*/
/*header-top*/
.header__top{
  background-color: #121d25;
  display: block;
  position: relative;
}
.header__top-top{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
}
.header__top-top a{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}
.header__top-top a > p{
  color: var(--trang);
  margin-left: 1.5rem;
}
.header__top-top i{
  color:var(--vang);
}
.header__top-top .quote{
  background-color: var(--vang);
  margin-left: auto;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  height: 100%;
}
.header__top-top .quote p{
  color:var(--den);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 3rem;
}

/*Header-bot*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

nav{
  background: #fff;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto; 
  max-width: 115rem;
}
nav ul li{
  padding: 1rem 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin-left: 3rem;
  text-align: center;
  order: 3;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: var(--vang);
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.header__logo{
  flex: 1; 
  /*cac phan tu gian ra 2 ben cho full container*/
}
nav ul li a{
  color: black;
  font-size: 1.8rem;
  transition: .4s;
}
nav ul li:hover a{
  color: var(--vang);
}
nav ul li i{
  font-size: 2.3rem;
}
nav ul li.btn__header{
  display: none;
}
nav ul li.btn__header.hide i:before{
  content: '\f00d';
}

@media screen and (max-width: 767px){
  .header__top-top{
    font-size: 1.3rem;
  }
  .header__top{
    padding: 1rem;
  }
  .header__top-top .quote{
    display: none;
  }
  .header__top-top .email{

  }
  .header__top-top .phone{
    margin-left: auto;
  }
  .header__top-top a{
    margin-right: 0;
  }
  .header__top-top a > p{
    margin-left: .5rem;
  }
  .header__bot{
  }
  nav{
    padding: .5rem 1rem;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn__header{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: .5rem;
    box-shadow: inset 0 0 .5rem var(--vang),
                inset 0 0 1rem var(--vang);
  }
  nav ul li.items:hover:after{
    opacity: 0; 
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){

}

/*SLIDER*/

.mySlides {
  position: relative;
  display: none;
}
.mySlides img {
  vertical-align: middle;
}
.slideshow {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.5rem;
  margin-top: -2rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--vang);
}
/* Caption text */
.a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySlides__content {
  margin-top: auto;
  position: absolute;
  font-size: 1.4rem;
  top: 25%;
  width: 40%;
  max-width: 117rem;
  color: #f2f2f2;
}
.mySlides__content .hello{
  font-size: 2rem;
}
.mySlides__content .slogan{
  display: flex;
  align-items: center;
  font-size: 4.2rem;
  margin:0;
  padding: 0;
}
.mySlides__content .desc{
  margin-bottom: 4.3rem;
}
.mySlides__content .slogan p{
  margin: 0 2rem 0 0;
  color:var(--vang);
}
.mySlides__content button{
  border:none;
  border-radius: 1rem;
  width: 19rem;
  height: 5rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 600;

}
.mySlides__content button:nth-of-type(1){
  background-color: var(--vang);
}
.mySlides__content button:nth-of-type(2){
  background-color: transparent; /*nen trong suot*/
  color: #fff;
  border: 1.5px solid #ffffff;
}

/* The dots/bullets/indicators */
.slideshow__sticker{
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 20px);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease mySlides__content size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .mySlides__content {
    font-size: 11px
  }
}

@media screen and (max-width: 767px){
  .mySlides__content{
    top: 44%;
  }
  .mySlides__content .desc, .mySlides__content button{
    display: none;
  }
  .mySlides__content .hello, .mySlides__content .slogan{
    font-size: 1.7rem;
    margin-left: 20%;
  }
  .slideshow__sticker{
    display: none;
  }
}

/*SERVICES*/
.services{
  background-color: var(--trang);
  position: relative;
  display: block;
}
.services__list{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.services__heading{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.services__heading .title{
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.services__heading .desc{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.services__group{
  margin-bottom: 2rem;
}
.services__item{
  display: flex;
  margin-bottom: 2rem;
}
.services__item .title{
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}
.services__item .desc{
  font-size: 1.4rem;
  font-weight: 400;
}
.services__item img{
  height: 7rem;
  width: 7rem;
  margin-right: 1rem;
}

@media screen and (max-width: 767px){
  .services__heading{
    width: 90%;
  }
  .services__heading .title{
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 2rem;
  }
  .services__heading .desc{
    margin-bottom: 2rem;
  }
  .services__list{
    grid-template-columns: repeat(1, 1fr);
  }
  .services__item{
    display: block;
    margin-bottom: 0;
  }
  .services__item img{
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
  }
  .services__item .content{
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .services__item .content .title{
    margin: 1rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .services__list{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
}

/*ABOUT*/
.about{
  width: 100%;
  height: auto;
  background-color: #f4f5f9;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: -2;
}
.about__content{
  padding: 7rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.about__content__left{
  width: 40rem;
  margin-top: 5rem;
}
.about__content__left .group{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 3rem;
}
.about__content__left .item{
  text-align: center;
  height: 10rem;
  background-color: var(--trang);
  border: 3px solid #dbdce0;
  padding-top: 1rem;
}
.about__content__left .title{
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
.about__content__left .desc{
  font-size: 1.4rem;
  font-weight: 400;
  margin: 2rem 0 5rem 0;
}
.about__content__left .item img{
  margin: 0 auto;
  z-index: 2;
}
.about__content__right{
  display: flex;
}
.about__content__right .background {
  width: 49.5rem;
  height: 38rem;
  transform: translate(5%, -5%);
  z-index: -1;
  background-color: var(--vang); 
  position: absolute;
}


@media screen and (max-width: 767px){
  .about{
    text-align: center;
    background-color: #f4f5f9;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: -2;
  }
  .about__content{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .about__content__left{
    width: 100%;
    order: 2;
  }
  .about__content__left .group{
    position: relative;
    flex:1;
  }
  .about__content__left .item{
    height: 9rem;
    width: 9rem;
    border: 3px solid #dbdce0;
    padding-top: 1rem;
    margin: 2rem 0 2rem;
  }
  .about__content__left .title{
    font-size: 2.6rem;
    font-weight: 700;
    margin: -2rem 0 2rem 0;
  }
  .about__content__left .desc{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }
  .about__content__left .item img{
    margin: 0 auto;
    z-index: 2;

  }
  .about__content__right{
    order: 1;
    flex: 1 0 100%;
  }
  .about__content__right img{
    width: 100%;
    
  }
  .about__content__right .background {
    display: none;
  }
}
/*PROJECT*/
.project{
  color: var(--trang);
  position: relative;
  display: block;
  text-align: center;
}
.project-top{
  padding-top: 6rem;
  padding-bottom: 4rem;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.39539565826330536) 100%),url(../image/image-project.png);
  background-size:cover;
}
.project-top .title{
  font-size: 3.6rem;
  font-weight: 500;
}
.project-top .desc{
  width: 30%;
  margin: 2rem auto;
  font-size: 1.4rem;
  font-weight: 300;
}
.project-top .menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.project-top .menu li{
  margin: .5rem 2rem 2rem 2rem;
}
.project-top .menu li button{
  width: 10rem;
  background-color: transparent;
  border:0;
  border: 1px solid #ffffff;
  border-radius: 7px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--trang);
  padding: .7rem 2rem;
}
.project-top .menu li button:hover{
  border-color: var(--vang);
  background-color: var(--vang);
}
.project__list{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.project__item{
  width: 100%;

}

.project__item:hover .content{
  opacity: 1;
  z-index: 2;
}

.project__item:hover {
  border: 7px solid var(--vang);
  box-sizing: border-box;
}
.project__item:hover .project__item__flex::after{
  display: block;
}

.project__item img{
  width: 100%;
  height: 100%;
}
.project__item .project__item__flex{
  position: relative;
  display: flex;    
  justify-content: center;
  align-items: center;

}
.project__item .content{
  position: absolute;
  opacity: 0;
  transition: opacity .2s;

}
.project__item .title{
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0;

}
.project__item .desc{
  font-size: 1.4rem;
  font-weight: 400;
}

.project__item__flex::after {
  content: ' ';
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.33657212885154064) 64%);
  height: 100%;
  display: none;
}

@media screen and (max-width: 767px){
  .project-top{
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .project-top .title{
    font-size: 2.6rem;
    font-weight: 500;
  }
  .project-top .desc{
    width: 90%;
  }
  .project__list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .project__list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
}
/*WHY CHOOSE US*/
.why{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: var(--trang);

}
.why__top{
  text-align: center;
  font-size: 1.4rem;
}
.why__top .title{
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 8rem;
}
.why__top .desc{
  font-weight: 400;
  margin: 0 0 4rem 0;
}
.why__bot{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 7rem;
}
.why__image{
  width: 100%;
  height: 100%;
}
.why__image img{
  width: 100%;
}
.why__content{
  margin-left: 3rem;
  width: 70%;
}
.why__content .list{
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--vang);
}
.why__content .list a{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--den);
  left: 0;
  padding: 1rem 3rem;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
}
@media screen and (max-width: 767px){

  .why__top .title{
    font-size: 2.6rem;
    font-weight: 600;
    margin:3rem 0 2rem;
  }
  .why__top .desc{
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
  }
  .why__bot{
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 30rem;
    font-size: 1.4rem;
  }
  .why__content{
    margin: 0 2rem;
    width: 100%;
  }
  .why__content .list{
    margin-top: 1rem;
    border-bottom: 2px solid var(--vang);
  }
  .why__content .list a{
    padding: 1rem 1.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .why__content .list a:nth-of-type(2){
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
  }

}
/*.why__content .list a:first-child{
  background-color: var(--vang);
}*/
.why__content .list a:hover{
  background-color: var(--xam);
}
.why__content .list a:focus{
  background-color: var(--vang);
}
.content-right{
  position: absolute;
  display: none;
  font-size: 1.4rem;
}
#content-right-first{
  display: block;
}
.content-right .content__title{
  font-size: 1.8rem;
  margin: 3rem 0 0;
}
.content-right .desc{
  margin-bottom: 2rem;
}
.content-right span{
  font-size: 1.8rem;
  font-weight: bold;
  color: #111111;
}
.content-right .list-item{
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;

}
.content-right .list-item .item{
/*  margin-right: 5rem*/;
  padding: 0;
  margin: 0;
  text-align: center;
}
.content-right .list-item .item:nth-of-type(1){
  padding-right: 2rem;
}
.content-right .list-item .item:nth-of-type(2){
  border-left: 2px solid #d0d0d0;
  border-right: 2px solid #d0d0d0;
  padding: 0 2rem;
}
.content-right .list-item .item:nth-of-type(3){
  padding-left: 2rem;
}
.content-right .list-item .item .number{
  padding: 0;
  margin: 0;
  border: 3px solid var(--vang);
  width: 5rem;
  height: 5rem; 
  border-radius:5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.content-right .list-item .item .text{
  padding: 0;
  margin: 0;
  font-weight: 600;

}

@media screen and (max-width: 767px){
  .content-right .content__title{
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
}
}
/*Contact US*/
.contact{
  font-size: 1.4rem;
  width: 100%;
  position: relative;
  background-color: var(--vang);
}
.contact-us{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.contact-title{
  color:#111111;
  font-size: 3rem;
}
.contact-desc{
  width: 60%;
}
.contact-us a{
  border: 1px solid var(--den);
  padding: 1rem 2.5rem;
  border-radius: .8rem;
  color:#111111;
  margin: auto 0 auto auto;
  font-size: 1.5rem;

}

@media screen and (max-width: 767px){
  .contact-us{
    display: block;
    padding: 2rem 0;
  }
  .contact-title{
    font-size: 2.6rem;
  }
  .contact-desc{
    width: 100%;
    margin: 1rem 0 2rem;
  }
  .contact-us a{
    text-align: center;
    width: 40%;
    border: 1px solid var(--den);
    border-radius: .8rem;
    color:#111111;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;

  }

}

/*BLOG*/
.blog{
  background-color: #f4f5f9;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size:1.4rem;
  padding-bottom: 7rem;
}
.blog__slogan{
  text-align: center;
  padding: 5rem 0;
}
.blog__slogan .title{
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0;
  padding: 3rem 0 2rem 0;
}
.blog__slogan .desc{
  width: 50%;
  margin: 0 auto;
}
  /*default blog*/
  .blog-user i, .blog-comment i{
    color:var(--vang);
    margin-right: 1rem;
  }
  .blog-user{
    margin-right: 3rem;
  }
  .blog-user, .blog-comment{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog-icon{
    display: flex;
  }
  .blog .title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
  /*default blog complete*/

.blog__content{
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-gap: 3rem;
  position: relative;
  width: 100%
  margin-bottom:5rem;
}
.blog__content .blog-home{
  color:var(--trang);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.blog__content .blog-home .blog-time{
  background-color: var(--vang);
  color: black;
  left: 5%;
  transform: translateY(1.5%);
}
.blog__content .blog-home .blog-time .blog-flex{
  margin: 1.5rem;
  text-align: center;
}
.blog__content .blog-home .blog-time .blog-flex span{
  font-weight: 900;
  padding: 0;
  shape-margin: 0;
  font-size: 2rem;
}
.blog__content .blog-home .blog-time .blog-flex p{
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0;
  shape-margin: 0;
}
.blog-home .desc{
 margin: 0;
}
.blog-home .blog-time, .blog-heading{
  position: absolute;
  left: 5%;
}
.blog__content .blog-heading{
  bottom: 10%;
}
.blog__content .blog-heading .desc{
  width: 80%;
}
.blog img{
  width: 100%;
  height: 100%;
}

.blog__list .blog-item{
  display: flex;
  align-items: center;
}
.blog__list .blog-item:nth-of-type(2){
  margin: 3rem 0;
}
.blog__list .blog-item .blog__list__heading{
  margin-left: 3rem;
}

@media screen and (max-width: 767px){
  .blog{
    padding-bottom: .5rem;
  }
  .blog__slogan{
    padding: 0;
    margin-bottom: 2rem;
  }
  .blog__slogan .title{
    font-size: 2.6rem;
    padding: 2rem 0 2rem 0;
  }
  .blog__slogan .desc{
    width: 100%;
  }
  .blog__content{
    display: block;
    margin-bottom:3rem;
  }
  .blog__content .blog-home{
    display: none;
  }
  .blog__list .blog-item{
    display: block;
  }
  .blog__list .blog-item:nth-of-type(2){
    margin: 0;
  }
  .blog__list .blog-item .blog__list__heading{
    margin-left: 0;
    margin: 1rem 0;
  }
}

/*PARTNER*/
.partner__list{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 3rem 0;
}
.partner__item{
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 767px){
  .partner__list{
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }
}

/*FOOTER*/
.footer{
  font-size: 1.4rem;
  background-color: #232323;
  color: #eeeeee;
  padding: 7rem 0;
}
.footer a{
  color: var(--trang);
}
.footer .title{
  font-size: 2rem;
}
.footer__grid{
  display: grid;
  grid-template-columns: 25% 33.33% 25%;
  grid-gap: 8.3%;
}
.footer__about .icon-list{
  display: flex;
  align-items: center;
  border-top:1px solid #333333;
  padding-top:3rem;
  margin-top:3rem;
}
.footer__about .icon-list div:hover{
  background-color: #fec500;
  border-color:  #fec500;
  color: black;
}
.footer__about .icon-list div{
  margin-right: 2rem;
  border:1px solid var(--trang);
  border-radius: 2rem;
  width:4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contact .navigation ul li{
  display: flex;
  align-items: center;
}
.footer__contact .navigation ul li i{
  margin-right: .8rem;
}
.footer__contact .contact-ft div{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__contact .contact-ft p{
  margin: 0;
}
.footer__contact .contact-ft i{
  margin-right: .8rem;
}

.footer__contact{
  display: grid;
  grid-template-columns: 25% 50%;
  grid-gap: 25%;
}
.footer__contact i{
  color:#d0a20a;
}

.form-foo .form1{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
}
.form-foo textarea{
  margin: 2rem 0;
  width: 100%;
  height: 6rem;
}
.form-foo .form1 input{
  height: 4rem;
}
.form-foo .form1 input, .form-foo textarea{
  background-color: transparent;
  border:0;
  border: 1px solid #444444;
  border-radius: .5rem;
}
.form-foo .form1 input::-webkit-input-placeholder, .form-foo textarea::-webkit-input-placeholder{
  padding: 1rem;
}
.footer button{
  border:none;
  border-radius: 1rem;
  width: 15rem;
  height: 4rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--vang);
}

/*footer-bot*/
.footer-bot{
  background-color: #191919;
  font-size: 1.4rem;
  color: var(--trang);
  padding: 1rem 0;
}
.footer-bot div{
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer-bot a{
  color:var(--vang);
  font-weight: 700;
  margin: 0 .5rem;
}

@media screen and (max-width: 767px){
  .footer{
    padding: 2rem 0;
    text-align: center;
  }
  .footer__grid{
    display: block;
  }
  .footer__about .icon-list{
    justify-content: center;
    border-top:0;
    padding-top:0;
    margin:1.5rem 0;
  }
  .footer__about .icon-list div{
    margin: 0;
    border-radius: 4rem;
  }
  .footer__about .icon-list div:not(:last-child){
    margin-right: 2rem;
  }
  .footer__contact{
    display: none;
  }
  .footer button{
    margin: 0;
  }
  .form-foo .title{
    display: none;
  }
  .form-foo .form1{
    display: block;
  }
  .form-foo .form1 input{
    width: 100%;
    margin-top: 2rem;
  }

  /*footer-bot*/
  .footer-bot{
    height: 4rem;
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .footer-bot div{
    flex:1;
    flex-wrap: wrap;
  }
  .footer-bot a{
    margin: 0;
  }
}